<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
    <script type="text/javascript" >
        $(document).ready(function(){
            //This segment below shows how to get the cookie containing sessionId when the web page is
            //fully loaded.
            //I assumed there is session-cookie so I use SPLIT.
            var name = "blank"
            var cookiesString = document.cookie;
            var sessionCookie = cookiesString.split(";");
            var sessionArg = sessionCookie[0].split("=")[1];
            //The session-cookie generate stage is in path '/homepage', so you should sign-in
            //using '/homepage'entrance in advance. Then, open '/user/dashboard'(which is
            //exactly this page) and 'Welcome XXX(username you signed in)' should been displayed.
            //If you disabled the interceptor which prevents visiting dashboard without
            //session-cookie and connect to '/user/dashboard' directly, it will probably show nothing
            //because no sessionId fetched.
            var getNameUri = "http://localhost:8090/user/getname"
            $.post(getNameUri, function(data){
                    name = data
                    $("#cookieBoard").text("Welcome: " + name);
                }
            );

            //The deviceList stores all the devices' deviceId of the User.
            var deviceList = new Array();

            var c = document.getElementById("roomCanvas");
            var cT = document.getElementById("taskCanvas");
            function hitButton(){
                var button = document.getElementById("load");
                button.click();
            }
            setInterval(hitButton,1000);
            var words = {};
            var tasks = {};
            var _listen = function(event){

            };
            var _listenTasks = function(event){

            };

            $("#logOut").click(function(){
                if(confirm(name+" are you sure you want to log out?")) {
                    var cookies = document.cookie.split(";");
                    for(var i=0; i<cookies.length;i++){
                        var cookie = cookies[i];
                        var eqPos = cookie.indexOf("=");
                        var cName = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                        document.cookie = cName + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";

                    }
                   location = location

                }

            })

            $("#AddNew").click(function(){
               var uri = "http://localhost:8090/device/add"

               $.post(uri,
                   {
                    token:sessionArg,
                    type:$("#newDevice").val()
                   }, function(data){
                       var button = document.getElementById("load");
                       document.getElementById('newDevice').value = '';
                       button.click();


                   }
               )
            });

            $("#newTask").click(function(){

               var uri = "http://localhost:8090/task/add"
                $.post(uri,
                    {
                        type:$("#newTaskType").val(),
                        in:$("#newTaskWhen").val(),
                        duration:$("#newTaskDuration").val(),
                        device:$("#newTaskRuid").val(),
                        token:sessionArg
                    }, function(data){
                        var button = document.getElementById("load");
                        document.getElementById('newTaskWhen').value = '';
                        document.getElementById('mewTaskDuration').value = '';
                        document.getElementById('newTaskType').value = '';
                        document.getElementById('newTaskDuration').value = '';
                        button.click();


                    }
                )


            });

            $("#addtask2").click(function(){
                var uri = "http://localhost:8090/fiware/task/add"
                $.post(uri,
                    {
                        type:$("#task2type").val(),
                        condition:$("#task2rule").val(),
                        device:$("#newTaskRuid").val(),
                        token:sessionArg
                    }, function(data){
                        var button = document.getElementById("load");
                        button.click();
                        alert("syntax added.");
                    }
                )


            });

            $("#load").click(function() {
                var uri = "http://localhost:8090/device/user/all"
                $.post(uri,
                    {
                        token:sessionArg
                    }, function (data) {
                        $("#msg").text(data);
                        c = document.getElementById("roomCanvas");
                        var ctx = c.getContext("2d");
                        ctx.clearRect(0, 0, c.width, c.height);
                        words = data.split(" ");
                        if (typeof _listen !== 'undefined') {
                            c.removeEventListener('click', _listen);
                        }
                        _listen = function(event) {
                            var x = event.pageX - c.offsetLeft;
                            var y = event.pageY - c.offsetTop;
                            var y_index = Math.floor((y - 25) / 75);

                            for (var i = 0; i < (words.length / 6) - 1; i++) {
                                if (y > (25 + (i * 75)) && y < (75 + (i * 75))) {
                                    if (x > 430 && x < 480) {

                                        var uri = "http://localhost:8090/device/toggle"
                                        $.post(uri, {
                                            token:sessionArg,
                                            device:deviceList[y_index]
                                        }, function (data) {
                                            x = 0;
                                            var button = document.getElementById("load");
                                            button.click();
                                            return;


                                        });


                                    }
                                    else if (x > 500 && x < 550) {

                                        if (confirm("Are you sure you want to delete device " + words[i * 6] + "?" )) {
                                            var uri = "http://localhost:8090/device/delete"
                                            $.post(uri, {
                                                token:sessionArg,
                                                device:deviceList[y_index]
                                            }, function (data) {
                                                x = 0;
                                                var button = document.getElementById("load");
                                                button.click();
                                                return;


                                            });
                                        }

                                    }
                                    else{

                                        //Click the device area to copy deviceId into the id-textbox
                                        //    because I have changed task stucture with a deviceId linking to
                                        //    selected device rather than the previous RUID,
                                        //    therefore we need a easy way to copy the long-string-type deviceId.

                                        $("#newTaskRuid").val(deviceList[y_index]);
                                    }

                                }


                            }
                        }
                                var uri = "http://localhost:8090/task/user/view"
                            $.post(uri,
                                {
                                    token:sessionArg
                                }, function (data) {
                                    tasks = data.split(" ");
                                    cT = document.getElementById("taskCanvas");
                                    var ctxT = cT.getContext("2d");
                                    ctxT.clearRect(0, 0, cT.width, cT.height);
                                    ctxT.fillStyle = "#000000";
                                    ctxT.font = "14px Arial";
                                    ctxT.fillText("Tasks for "+name,10,40,100);
                                    ctxT.fillText("Task|Device|Date|Time|Duration",10,70,300);
                                    for(var i=0; i<(tasks.length/15)-1;i++) {
                                       ctxT.fillText(tasks[0+i*15]+"|"+tasks[4+i*15]+"|"+tasks[7+i*15]+" "+tasks[8+i*15]+"|"+tasks[9+i*15]+"|"+tasks[13+i*15],10,100+(i*20),300);
                                    }
                                    for(var i=0;i<tasks.length;i++){
                                     //   ctxT.fillText(tasks[i],10,150+(20*i),300);
                                    }




                                })


                        c.addEventListener('click',_listen);

                        if(typeof _listenTasks !=='undefined'){
                            cT.removeEventListener('click',_listenTasks);
                        }
                        _listenTasks = function(event){
                            var x = event.pageX-cT.offsetLeft;
                            var y = event.pageY-cT.offsetTop;
                            for(var i =0;i<((tasks.length)/15)-1;i++){
                                if(y>80+(i*20) && y<100+(i*20)){
                                    if(confirm(tasks[2+i*15]+", are you sure you want to delete task "+tasks[i*15]+" on "+words[(tasks[4+i*15])*6]+ " ?")) {
                                        var uri = "http://localhost:8090/task/delete";
                                        $.post(uri,
                                            {
                                                token:sessionArg,
                                                type:tasks[i*15],
                                                relUID:tasks[4+i*15]

                                            },function(data){
                                                x = 0;
                                                var button = document.getElementById("load");
                                                button.click();
                                                return;
                                            })
                                    }

                                }
                            }
                        }
                        cT.addEventListener('click',_listenTasks);
                        for(var i=0; i<(words.length/6)-1;i++){
                                ctx.fillStyle = "#EEE8AA";
                            if(words[(6*i)+4]==="true")
                                ctx.fillStyle = "#FFD700";
                            if(deviceList[i]==$("#newTaskRuid").val()) {
                                ctx.fillStyle = "#FFA500"
                                if(words[(6*i)+4]==="true")
                                    ctx.fillStyle = "#DAA520"


                            }
                            ctx.fillRect(10,25+(i*75),400,50);
                            ctx.fillStyle = "#AAAAAA";
                            ctx.fillRect(430,25+(i*75),50,50);
                            ctx.fillStyle="#770000"
                            ctx.fillRect(500,25+(i*75),50,50);
                            ctx.fillStyle = "#000000";
                            ctx.font = "16px Arial";
                            ctx.fillText(words[i*6],30,50+(i*75),120);
                            ctx.fillText("ID: "+words[2+i*6],150,70+(i*75),200);
                            ctx.fillText("Turned On: "+words[4+(i*6)],150,40+(i*75),100);
                            ctx.font = "14px Arial";
                            ctx.fillText("Toggle",435,55+(i*75),50);
                            ctx.fillText("Delete",505,55+(i*75),50);

                            //Add the deviceId to deviceList
                            deviceList[i] = words[2+i*6];

                        }
                    });
            });
        });
    </script>
    <meta charset="UTF-8">
    <title>Smart Home</title>
</head>
<body>
<h2 class="cookieBoard" name="cookieBoard" id="cookieBoard">cookieBoard content</h2>
<div>
    <input class="btn" type="submit" id="load" value="Refresh" /> <br/>
    Devices currently associated with your account:
</div>
<br/>
<div>
    <canvas id = "roomCanvas" width="600" height="600" style="border:1px solid #000000;" ></canvas>
    <canvas id="taskCanvas" width=300" height ="600" style="border:1px solid #000000;"></canvas>
</div>

<div>
    New Device: <input class="inputbox" type="text" name="newDevice" id="newDevice" value="Enter Device Here" onfocus="this.value=''"/>
    <input class="btn" type="submit" id="AddNew" value="Add" /> <br/>
    New Task -> Device ID:<input class="inputbox" type="text" name="newDevice" id="newTaskRuid" value="Click on the device" />
    When (seconds from now): <input class="inputbox" type="text" name="newDevice" id="newTaskWhen" value="Enter time until this task should be performed (seconds)" onfocus="this.value=''"/>
    Repeated:<input class="inputbox" type="text" name="newDevice" id="newTaskDuration" value="Enter how often this should be repeated" onfocus="this.value=''"/>
    Type: <select id="newTaskType">
        <option value="toggle">Toggle</option>
    </select>
    <input class="btn" type="submit" id="newTask" value="Submit Task" />

</div>

<div>
    Syntax: <input type="text" name="task2rule" id="task2rule"/>
    Type:(Toggle/TurnOn/TurnOff)<input type="text" name="task2type" id="task2type" />
    <input class="btn" type="submit" id="addtask2" value="Add Monitor Task" /> <br/>
</div>

<div>
<input class="btn" type="submit" id="logOut" value="Log Out" />
</div>
</body>

</html>