<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
    <meta charset="UTF-8">
    <title>Device Schedule</title>
</head>
<body>
<h1>Your device schedule</h1>
<div>
    <table style = "width:100%" border = "1px solid black">
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        <script type = "text/javascript">
            
        </script>
    </table>
</div>

</body>
</html>